<div class="row login-main-container">
    <div class="d-block col-12 login-user-details-custom">
        <div class="login-sec">
            <div class="row">
                <div class="col-12">
                    <div class="panel panel-default">
                        <div class="panel-heading pl-0">
                            <h3 class="panel-title"><strong>Sign in with your username and password </strong></h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" (submit)="login()">
                                <div class="form-group alert alert-warning text-center" *ngIf="isInvalid">{{errorMsg}}</div>
                                <div class="form-group" >
                                    <label for="exampleInputEmail1">Username </label>
                                    <input type="text" autofocus class="form-control" id="exampleInputEmail1"
                                        name="loginEmail" [(ngModel)]="userName" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                        name="loginPassword" [(ngModel)]="password" required>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-xs-6 mt-2">
                                        <button type="submit" class="btn btn-primary"><span *ngIf='loading' class="pi pi-spin pi-spinner"></span>Sign in</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
